<include file="Index/header"/>
<body>
<include file="Index/side"/>
<div class="container panel panel-default" style="width:92%;margin-left:24%;margin-top:14px;position:absolute">
	<foreach  name="data" item="msg">
  <div class="panel panel-default" style="margin:10px;height:20%;width:80%;">
  		<div class="panel-heading"><h4>{$msg.title}</h4>FromID:{$msg.from}<little style="float:right;">{$msg.time}</little></div>
  		<div class="panel-body">{$msg.content}</div>
  	</div>
  </foreach>
  <empty name="old">
  <div class="panel panel-default" style="margin:10px;height:20%;width:80%;">
      <div class="panel-body"><a href="{:U('/Home/Msg/old')}">查看已读私信</a></div>
  </div>
  </empty>
  <empty name="old"> 
  <empty name="data">
    <script language='javascript'>
      location.href="{:U('/Home/Msg/old')}";
    </script>
  </empty>
  </empty> 

</div>
</body>