<div class="container panel panel-default" style="height:100%;width:23%;float:left;text-align:center">
<img src="{$userInf.img|default='http://codevs.cn/accounts/avatar/c3026d095e6970b60f49c1cba11dbda0-80.png'}" alt="header" class="img-circle"><br>
 <h2>{$userInf.nick}</h2><br>
 <ul>
 <li>累计AC：</li>
 <li>累计签到：</li>
 <li>今日排名：</li>
 <li>总排名：</li>
 </ul>
 <button onclick="window.location.href='{:U('/Home/Msg/sendmsg')}'" class="btn btn-success">写私信</button>
 <button class="btn btn-info">逛论坛</button>
</div>