<include file="Index/header"/>
<body>
<div class="container panel panel-default" style="height:100%;width:23%;float:left;text-align:center">
<img src="{$userInf.img|default='http://codevs.cn/accounts/avatar/c3026d095e6970b60f49c1cba11dbda0-80.png'}" alt="header" class="img-circle"><br>
 <h2>{$userInf.nick}</h2><br>
 <ul>
 <li>累计AC：</li>
 <li>累计签到：</li>
 <li>今日排名：</li>
 <li>总排名：</li>
 </ul>
</div>
<div class="container panel panel-default" style="width:92%;margin-left:24%;position:absolute">
	<div class="panel panel-default" style="margin:10px;height:20%;width:80%;">
  		<div class="panel-heading">{$userInf.nick}</div>
  		<div class="panel-body">完成了编译原理课程设计</div>
  	</div>
  	<div class="panel panel-default" style="margin:10px;height:20%;width:80%;">
  		<div class="panel-heading">{$userInf.nick}</div>
  		<div class="panel-body">完成了编译原理课程设计</div>
  	</div>
  	<div class="panel panel-default" style="margin:10px;height:20%;width:80%;">
  		<div class="panel-heading">{$userInf.nick}</div>
  		<div class="panel-body">完成了编译原理课程设计</div>
  	</div>


</div>
</body>