<include file="Index/header"/>
<body>
<div class="panel panel-default container" style="width:80%;margin-top:10px;">
  <div class="panel-body">
  	<h1>{$msg.title}</h1><br>
  	<p><h4>{$msg.content}</h4></p>
  	<h5>作者:{$msg.admin}</h5><h5>最后回复:{$msg.admin}</h5><h5>发帖时间:{$msg.last}</h5><h5>回复数:{$msg.re}</h5>
  </div>

  <foreach  name="res" item="msg">
  	<hr>
  <div class="panel-body">
  	<div class="panel-body" style="float:left;text-align:center;position:relative">
  	<img src="{$users[$count].img}" class="img-circle" height=60 width=60/><br><div class="center-block" style="text-align:center;">{$users[$count++].nick}</div>
  	</div>
  	<div style="height:15%;position:relative"><p>{$msg.content}</p></div>
  	<div><h5>时间:{$msg.time}</h5></div>
  </div>
</foreach>
</div>  
<div class="panel panel-default container" style="width:80%;margin-top:10px;">
<br>
<include file="Index/send"/>
</div>  